<div class="d-flex flex-colum flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <spa-header></spa-header>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="3">Sobre</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="3">Produtos</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="3">Suporte</a>
    </nav>
    <a class="btn btn-outline-primary mt-2" href="#">Login</a>
</div>

